<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="new_supermarket.Properties.Settings.point_of__saleConnectionString"
            connectionString="Data Source=HARRISON-MURAYA;Initial Catalog=&quot;point_of _sale&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>